{
  BasedOnStyle: Microsoft,
  PointerAlignment: Left,
  NamespaceIndentation: All,
  AllowShortBlocksOnASingleLine: Empty,
  AllowShortFunctionsOnASingleLine: Inline,
  UseTab: Always,
  AlwaysBreakTemplateDeclarations: Yes,
  BinPackArguments: false,
  BinPackParameters: false,
}
